/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-paypal {
  background-image: url(../images/sprite-page.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-shipping {
  background-image: url(../images/sprite-page.png);
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
}
